@model IdenTestUser

@{
	ViewData["Title"] = "Create Post";
}

<style>
	.frame{
		max-width: 100%;
		height: auto;
		display: none;
		border: 1px double black;
		margin: 0.5rem;
	}
</style>

<h1 style="width:100%; text-align: center;">Create new post</h1>

@if (User?.Identity?.IsAuthenticated ?? false)
{
	<form method="post" enctype="multipart/form-data" class="form-container">

		<div class="form-fields">
			<label>Post Content</label>
			<textarea name="Content"></textarea>

			<label onclick="document.getElementById('FileFrame').click();" class="form-button">Add image</label>
			<input value="Delete image" id="deleteBtn" type="button" class="form-button" onclick="DeletePreview()" style="display: none"/>
			<input type="file" id="FileFrame" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" name="media" onchange="ShowPreview(this)" style="display: none;" />
			<img id="PreviewFrame" class="frame"/>
		</div>

		<input type="submit" value="Submit" class="form-button" />
	</form>
}



<script>
	
</script>