@model IdenTestUser

@{
	ViewData["Title"] = "Home";
}

@if (User?.Identity?.IsAuthenticated ?? false)
{
	<h1 style="text-align:center">@Model.UserName</h1>

	<div class="content-bar">
		<a asp-action="CreatePost" class="normal-Button">CreatePost</a>

		<a asp-action="Update" class="normal-Button">Update</a>

		<a asp-controller="Account" asp-action="Logout" class="normal-Button">Logout</a>

		<a href="Tom02" name="DefaultProfile">Tom02</a>

		<a>Tom02</a>
	</div>

	@if (Model.Posts.Any())
	{
		@foreach (var post in Model.Posts.Reverse())
		{
			<div class="post-container">
				<div class="post-content">@post.PostContent</div>

				@if (post.Media != null)
				{
					<div class="post-media">
						<img src="data:image/png;base64,@post.Media" />
					</div>
				}
			</div>
		}
	}
}