@model IdenTestUser
@{
	ViewData["Title"] = "UPDATE USER";
}

<h1 class="bg-info text-white">Update User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post" class="form-container">
	<div class="from-fields">

		<label asp-for="Email"></label>
		<input asp-for="Email" />

		<label for="password">Password</label>
		<input name="password" />
	</div>

	<button type="submit" class="form-button">Save</button>
</form>
