@model UserModel
@{
	ViewData["Title"] = "CREATE USER";
}

<h1 style="text-align: center;">Register</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" class="form-container">
	
	<div class="from-fields">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />


		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />


		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" />
	</div>

	<div class="form-button-container">
		<a class="form-button" asp-action="Login">Log in</a>

		<input type="submit" class="form-button" value="Create"/>
	</div>
	
</form>

<pre>
	Eliot09@gmail.com
	eliot09--Password

	tom02@gmail.com
	tom--Password09

	Han27@hotmail.com
	han--Password27
</pre>