@model IQueryable<IdenTestUser>

<style>
	a {
		text-decoration: none;
		color: black;
	}
</style>

<table class="table table-sm table-bordered">
	@if (Model.Any()) {
		@foreach (IdenTestUser user in Model)
		{
			<tr>
				<td><a asp-action="Index" asp-controller="Profile" asp-route-Username="@user.UserName">@user.UserName</a></td>
				<td>@user.Email</td>
			</tr>
		}
	}
</table>

