.NButton {
	width: fit-content;
	padding: 0.5rem;
	background-color: transparent;
	border: 1px solid gray;
}

div.post-container {
	margin: 0.25rem auto;
	width: 50%;
	padding: 0.5rem;
	border: 1px solid black;
}

div.post-content {
	white-space: pre-wrap;
	padding: 0.4rem; 
}

div.post-media {
	padding: 0.4rem;
}

div.post-media img {
	width: 10rem;
	height: auto;
}

form.form-container {
	margin: 0.5rem auto;
	width: 40%;
	max-width: 35rem;
	padding: 0.5rem;
}

div.from-fields {
	width: 100%;
	margin: 1rem 0;
}

div.from-fields input, label {
	width: 100%;
	margin: 0.25rem 0;
	color: black;
	font-size: 20px;
}

div.from-fields input {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0.3rem;
}

div.form-button-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.form-button {
	width: fit-content;
	font-size: 20px;
	text-decoration: none;
	color: white;
	padding: 0.5rem;
	background-color: dodgerblue;
	border-radius: 10%;
	border: 0;
}